{% extends 'base.html' %}
{% block title %} title {% endblock %}

{% block content %}

<div class = "container">
    <h1>DarkWebLinks</h1>
    <h5>I am Anirudh, I have made this web app to give all people the access to the mystery part of the web.</h5>
    <h1>"The DarkWeb"</h1>
    <h5>The links page will show you the links available and are running on the DarkWeb, I have worked 7 months on this project</h5>
    <h5>gathering links testing each one of them I worked very hard on this project and "IF" you want to visit the DarkWeb watch this video.</h5><br/>
    <a href="https://www.youtube.com/channel/UC3pVgl7Xo7VYOb1WOqigQZA">
    
      Go to the YouTube Channel to see the video about "How to visit the DarkWeb in the safest way"
    </a>
    <br/><br/>
    <h5>Subscribe for updates on new links because links/websites on dark web don't stay online for a long time.</h5>
    <h5>Please take a look and downlaod all the files needed.</h5>
    <!--<h5>And also subscribe for more updates</h5>-->

{% endblock %}
