{% extends 'base.html' %}
{% block title %} title {% endblock %}


{% block content %}


<div class = "container">
    <h1>DarkWebLinks</h1>
    <br/><br/>

    <h4>How to visit the DarkWeb in the safest way:</h4>
    <h5>1. Download and install virtualbox</h5>
    <a href="https://www.virtualbox.org/wiki/Downloads">
    	You can download virtualbox from here
    </a>
    <br/>
    <h5>2. Download Tails image for virtual machines</h5>
    <a href="https://tails.boum.org/install/vm-download/index.en.html">Download Tails From here.</a>
    </button>
    	
    <br/>
    <h5>3. Open virtualbox and setup up the virtual machine</h5>
    	<h5>Do not forget to give it 2 processors and set shared clipboard to bidirectoral </h5>
    <h5>4. Boot the VM up and open TOR browser</h5>
    <h5>5. Paste the link from the website (most of them wont work, because I am exposing them not telling you to go visit them)</h5>
    <h5> BANG!! you are there.</h5>

  </div>


{% endblock %}